#search {
  height: 23px;
  width: 360px;
  border: 1px solid #092b40;
  height: 50px;
  padding-left: 20px;
  margin: 0 auto;
}
#search[placeholder] {
  font-size: 20px;
}
.icon img {
  width: 22px;
  height: 22px;
}
.heading {
  margin: 0;
  color: #fff !important;
  font-family: "Tangerine", cursive;
  font-size: 5em;
  letter-spacing: 4px;
}
i {
  color: #fff;
  letter-spacing: 2px;
  font-family: "Tangerine", cursive;
  font-size: 30px;
}
.searchBox {
  margin-top: 47px;
}
.shortHr {
  width: 100px;
  border-bottom: 2px solid #fff;
}
.jumbotron {
  border-radius: 0px !important;
  background-color: #330033;
}
